name: Deploy PROD HRIS APPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: haris_apps
    environment: hris_apps
    env:
      WORKING_DIR: ${{ vars.WORKING_DIR_PROD }}

    steps:
      # === Before Script ===
      - name: Before script section
        run: |
          echo "Before script section"
          git checkout "$GITHUB_REF_NAME" || true
          git pull origin "$GITHUB_REF_NAME" || true

      # === Checkout Repository ===
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # === Deploy Script ===
      - name: Deploy application
        run: |
          if [ -d "$WORKING_DIR" ]; then
            echo "Processing sync source code..."

            rsync -avz --update app/ "$WORKING_DIR/app/"
            rsync -avz --update routes/ "$WORKING_DIR/routes/"
            rsync -avz --update config/ "$WORKING_DIR/config/"
            rsync -avz --update resources/ "$WORKING_DIR/resources/"
            rsync -avz --update bootstrap/ "$WORKING_DIR/bootstrap/"
            rsync -avz --update public/assets/ "$WORKING_DIR/public/assets/"

            echo "Processing build & deploy..."

            cd "$WORKING_DIR" &&
              sudo composer update &&
              sudo composer install --no-dev --optimize-autoloader &&
              sudo npm install && npm run build
              sudo chown -R www-data storage &&
              sudo php artisan config:clear &&
              sudo php artisan config:cache &&
              sudo php artisan cache:clear &&
              sudo php artisan route:clear &&
              sudo php artisan route:cache &&
              sudo php artisan view:clear &&
              sudo php artisan view:cache &&
              sudo supervisorctl restart laravel-queue:*

          else
            echo "Repo tidak ada"
            echo "Posisi dir env: $WORKING_DIR"
            exit 1
          fi
